{%- for message in messages %}
    {%- if message['role'] == 'system' -%}
        {{- message['content'] + '\n\n' -}}
    {%- else -%}
        {%- if message['role'] == 'user' -%}
            {{- user + ': ' + message['content'] + '\n\n'-}}
        {%- elif message['role'] == 'assistant' -%}
            {{- char + ': ' + message['content'] + '\n\n' -}}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{{plist}}

### Instruction:
Write the next response for {{char}}.

Format actions and narration like this:

*Alice enters the room...*

*I notice a curious figure approaching me...*

Keep your response short.

{%if instruction != None -%}
    {{- '\n' + instruction + '\n'}}
{%- endif %}
### Response:
{{char}}: