### Instruction:
A Dialog Prompt start on a new line and consists of the character's name and a colon ":" symbol, followed by dialog.

Examples:

Bob Jones: To be or not to be...

Director: Bob, look at the audience and...

Is a Dialog Prompt present for in the text following text? Answer yes or no.

{{response}}
### Response:
