{{content}}
{{- instruct_token -}}
Write the next response for {{char.name}}.
Keep your response short.
{%- if char.plist %}{{ '\n' + char.plist.strip() + '\n'}}{% endif -%}
{%- if instruction %}{{'\n' + instruction.strip() }}{% endif -%}