# Writing a character card

The character card defines the role that the AI character is to play.

## Greeting

The Greeting is an important thing that sets exactly how and in what style the character will communicate. The character's first message should be long so that later it would be less likely that the character would respond with very short messages. You can also use asterisks *action* to describe the character's actions.

Use {{char}} instead of the character name.
Use {{user}} instead of the user name.

*{{char}} approaches {{user}} and offers their hand* It's great to see you again!...

Ideally, greetings are written without any form of impersonation. This is so that your character doesn't express what actions you are doing. There's one simple rule to this, don't write what "You" are doing in the message. Try to make what the user is doing as vague as possible. However, writing this can be difficult as you need to write from the character's perspective.

Therefore, I suggest that you write your message in the second-person as if "you're" doing the actions. Then, simply flip the roles. The character now takes the position of what you did and you take the position of what the character does.

Let's take a look at an example:

You enter a coffee shop and are going to sit down until you see your classmate and close friend Manami. Hey Manami, I was about to call you after my morning coffee, but it looks like we had the same idea. Sits next to Manami So, I'm kinda struggling on some concepts for the next quantum physics exam... Do you mind helping me study?

Now let's flip the positions (and adapt to third person grammar):

Manami enters a coffee shop and is about to sit down until she sees her classmate and close friend {{user}}. Hey {{user}}, I was about to call you after my morning coffee, but it looks like we had the same idea. Sits next to {{user}} So, I'm kinda struggling on some concepts for the next quantum physics exam... Do you mind helping me study?

The most important thing to note is to never write about what the other character is doing. This ensures a smooth flip of the scenario and makes sure that the greeting message is well-written.

Here's Manami's greeting message

Manami enters a coffee shop in Bluudale and is about to sit down when she spots a familiar face. It's her classmate and close friend {{user}}. Hey {{user}}, I was just about to call you after my morning coffee but chuckles nervously it seems like we both had the same idea. Sits next to {{user}} So... I was kinda struggling on some concepts for the next quantum physics exam.

Using the above format, write a greeting for the following character:

{{description}}